.search {
  background-color: #ebebeb;
  border-radius: 20px;
  width: 100%;
  max-width: 500px;
  &__input {
    // border-top-left-radius: 50px;
    // border-bottom-left-radius: 50px;
    background-color: #ebebeb;
  }
  &__button {
    // border-top-right-radius: 50px;
    // border-bottom-right-radius: 50px;
    padding-right: 30px;
    width: 100%;
    max-width: 90px;
  }
}
