.carousel-bg {
  background-color: #ebebeb;
}

.carousel-box {
  justify-content: center;
  align-items: center;
  padding: 50px;
  width: 100%;
  max-width: 992px;
  margin: 0 auto;

  &__title {
    font-size: 34px;
    font-weight: bold;
    font-family: "Koulen-regular";
    margin-bottom: 5px;
  }

  &__price {
    font-size: 20px;
    color: #999999;
    margin-bottom: 35px;
    padding: 0;
  }

  &__image {
    width: 100%;
    display: block;
    max-width: 500px;
  }
  &__btn-show-more {
    background-color: #000000;
    color: #ffffff;
    padding: 10px 18px;
    text-decoration: none;
    margin-top: 20px;
    display: block;
    width: 100%;
    max-width: 150px;
    text-align: center;
    &:hover {
      color: #ffffff;
    }
  }
}
